@font-face {
    font-family: 'Marvel';
    src: url('/fonts/Marvel-Regular.eot');
    src: local('Marvel'), local('Marvel-Regular'),
        url('/fonts/Marvel-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Marvel-Regular.woff2') format('woff2'),
        url('/fonts/Marvel-Regular.woff') format('woff'),
        url('/fonts/Marvel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marvel';
    src: url('/fonts/Marvel-Italic.eot');
    src: local('Marvel Italic'), local('Marvel-Italic'),
        url('/fonts/Marvel-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Marvel-Italic.woff2') format('woff2'),
        url('/fonts/Marvel-Italic.woff') format('woff'),
        url('/fonts/Marvel-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Marvel';
    src: url('/fonts/Marvel-BoldItalic.eot');
    src: local('Marvel Bold Italic'), local('Marvel-BoldItalic'),
        url('/fonts/Marvel-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Marvel-BoldItalic.woff2') format('woff2'),
        url('/fonts/Marvel-BoldItalic.woff') format('woff'),
        url('/fonts/Marvel-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Marvel';
    src: url('/fonts/Marvel-Bold.eot');
    src: local('Marvel Bold'), local('Marvel-Bold'),
        url('/fonts/Marvel-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Marvel-Bold.woff2') format('woff2'),
        url('/fonts/Marvel-Bold.woff') format('woff'),
        url('/fonts/Marvel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family:'Marvel', sans-serif;
}

h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }

.container {  
    width: 320px;
    padding: 40px 15px 78px; 
    margin: 0 auto;
}

.content-wrap {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 34px;
}

.title span {
    font-size: 12px;
    line-height: 24px;
    color: #ff3333;
}

/* LINKS */

.list-links__link {
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #c0c0c0;
}

.list-links__link--hover {
    display: none;
}

.list-links__link:hover {
    background-color: #e1e1e1;
    color: #000000;
    border-bottom-color: transparent;
}

.list-links__link:active {
    background-color: transparent;
    color: #000000;
    border-bottom: none;
}

.list-links__link--visit:visited {
    color: #666666;
    border-bottom: none; 
}
.input-file-wrap {
    display: flex;
    flex-direction: column;
}

/* INPUT TYPE FILE */

.label-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    border-bottom: 2px solid #363636;
    padding: 28px 0 6px;
    cursor: pointer;
}

.isSelected {
    color: #333333;
}

.label-file::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../icons/plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SELECT */
.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    line-height: 36px;
    cursor: pointer;
    border-bottom: 2px solid #363636;
    padding: 28px 0 6px;
}

.custom-options {
     opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;
}

.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: auto;
}

.custom-option {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    line-height: 36px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 20px 0 6px;
    border-bottom: 2px solid #d7d7d7;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
    color: #ffffff;
}
.custom-option.selected {
    color: #ff3333;
    border-bottom-color: #ff3333;
}

.arrow {
    height: 12px;
    width: 12px;
    background-image: url(../icons/plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s; 
}

.open .arrow {
    transform: rotate(-45deg);
}

/* TEXT INPUT */

.text-input-wrap {
    display: flex;
    flex-direction: column;
}

.text-input {
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    border: none;
    outline: none;
    border-bottom: 2px solid #363636;
    padding: 28px 0 6px;
}

.text-input::placeholder {
    color: #999999;
}

/* CHECKBOX INPUT */

.checkbox-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.onTablet {
    display: none;
}

.list-checkbox__label,
.list-radio__label {
    display: block;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    cursor: pointer;
}

.list-checkbox__label::before,
.list-radio__label::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    margin-right: 12px;
    background-color: #22f8b9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list-checkbox__check:checked + .list-checkbox__label::before {
    background-image: url(../icons/check.svg);
}

.list-checkbox__check:disabled + .list-checkbox__label::before,
.list-radio__input:disabled + .list-radio__label::before {
    background-color: #eaeaea;
}

.list-radio__label::before {
    border-radius: 50%;
}

.list-radio__input:checked + .list-radio__label::before {
    background-color: #0000ff;
    border: 7px solid #22f8b9;
}

/* BUTTONS */

.button-wrap {
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000ff;
    background-color: transparent;
    border: 1px solid #0000ff ;
    transition: all 400ms linear;
    cursor: pointer;
}

.button:first-child {
    margin-bottom: 16px;
}

.button:hover {
    color: #ffffff;
    background-color: #0000ff ;
}

.button:active {
    background-color: rgba(0, 0, 255, 0.5) ;
    transition: all 0ms linear;
}

.isActive {
    color: #ffffff;
    background-color: #0000ff ;
}

.isActive:hover {
    color: #0000ff;
    background-color: #ffffff ;
}

.isActive:active {
    background-color: rgba(0, 0, 255, 0.5) ;
}

/* MEDIA */

@media screen and ( min-width: 768px) { 

    .container {
        width: 724px;
        padding-left: 0;
        padding-right: 0;
    }

    .content-wrap {
        display: grid;
        grid-template-columns: 310px 310px;
        grid-column-gap: 62px;
        grid-template-rows: auto auto 1fr;
         padding-left: 40px;
    }

    .title {
        margin-bottom: 40px;
    }

    .list-links__link--hover {
        display: inline-block;
    }

    .checkbox-wrap {
        padding: 0;
    }

    .onMobile {
       display: none; 
    }

    .onTablet {
        display: flex;
    }

    .text-input-wrap {
        margin-bottom: 30px;
    }

    .button-wrap {
        flex-direction: row;
    }

    .button {
        width: 132px;
    }
    .button:first-child {
        margin-bottom: 0;
        margin-right: 20px;
    }
 }

 @media screen and ( min-width: 1200px) {
     
    .container {
        width: 960px;
        padding-top: 130px;     
     }

    .content-wrap {
        grid-column-gap: 20px;
        grid-template-columns: 380px 380px;
        padding: 0;
    }

    .list-links {
        padding-left: 30px;
    }

    .checkbox-wrap {
        padding-left: 70px;
        padding-right: 20px;
    }

    .input-file-wrap,
    .select-wrapper,
    .wrapper {
        padding-left: 30px;
        padding-right: 50px;
    }
 }